<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect index.php URLs to clean URLs
    RewriteCond %{THE_REQUEST} /index\.php [NC]
    RewriteRule ^index\.php/(.*)$ /$1 [L,R=301,NC]
    
    # Redirect .html to clean URLs
    RewriteRule ^(.*)\.html$ /$1 [R=301,L]
    
    # Laravel routing
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
